.mat-table {
  overflow-x: auto;
  mat-header-cell,
  mat-cell {    
    padding: 0px 10px;   
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.green-color {
  color: green;
}

.status-position-right {
  float: right;
  margin-top: 5px;
  font-size: xx-large;
}

.approval-notes {
  width: 600px;
  height: 100px;
}

.approval-chip {
  padding-top: 10px;
}