<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Pencarian</mat-panel-title>
        </mat-expansion-panel-header>
        <form>
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div fxFlex="45" fxFlex.lt-sm="100">
              <mat-form-field class="m-r-8" fxFlex="100">
                <input matInput placeholder="Nama" [(ngModel)]="searchValue.search" name="search">
              </mat-form-field>
            </div>            
            <div fxFlex="10" fxFlex.lt-sm="100">
              <button mat-raised-button color="primary" (click)="cari()">Cari</button>            
            </div>
          </div>
        </form>
        <!-- <div>{{searchValue|json}}</div> -->
    </mat-expansion-panel>
</mat-accordion>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-table [dataSource]="list">      
  <ng-container matColumnDef="name">
    <mat-header-cell fxFlex="350px" fxFlex.lt-sm="350px" *matHeaderCellDef>Nama</mat-header-cell>
    <mat-cell fxFlex="350px" fxFlex.lt-sm="350px" *matCellDef="let element">
      <mat-label>{{element.livestockName}}</mat-label>
    </mat-cell>
  </ng-container>  
  <ng-container matColumnDef="notes">
    <mat-header-cell fxFlex="auto" fxFlex.lt-sm="300px" *matHeaderCellDef>Keterangan</mat-header-cell>
    <mat-cell fxFlex="auto" fxFlex.lt-sm="300px" *matCellDef="let element">
      <mat-label>{{element.notes}}</mat-label>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action" stickyEnd>
    <mat-header-cell fxFlex="80px" *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell fxFlex="80px" *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="edit(element)" aria-label="edit"><mat-icon>edit</mat-icon></button>      
      <button mat-icon-button color="warn" (click)="delete(element)" aria-label="delete"><mat-icon>delete</mat-icon></button>      
    </mat-cell>
  </ng-container>    
  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>      
</mat-table>

<mat-paginator #paginator                
                [pageIndex]="0"
                [pageSize]="10"
                (page)="pageClick($event)">
</mat-paginator>

<!-- <div>{{list|json}}</div> -->

<div class="customizer-handle" matTooltip="Tambah" cdkDrag (cdkDragStarted)="handleDragStart($event)">
  <button mat-fab (click)="addLivestock($event)">
    <mat-icon aria-label="go to add new page">add</mat-icon>
  </button>
</div>
