<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>      
      <div style="white-space: nowrap;">{{node.name}}</div>
      <div style="width: 100%;">
        <button mat-icon-button color="warn" class="component-position-right" (click)="delete(node)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button class="component-position-right" (click)="edit(node)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" class="component-position-right" (click)="add(node)"><mat-icon>add</mat-icon></button>
      </div>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>        
        <div style="white-space: nowrap;">{{node.name}}</div>
        <div style="width: 100%;">
          <button mat-icon-button color="warn" class="component-position-right" (click)="delete(node)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button class="component-position-right" (click)="edit(node)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="primary" class="component-position-right" (click)="add(node)"><mat-icon>add</mat-icon></button>
        </div>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>