<mat-card>
  <mat-card-actions>
    <button mat-raised-button class="m-t-8" (click)="back()"><mat-icon>list</mat-icon> Kembali</button>
    <button mat-raised-button color="primary" class="m-t-8" (click)="save()"><mat-icon>save</mat-icon> Simpan</button>
  </mat-card-actions>
  
  <mat-card-content>    
    <form [formGroup]="formUser" class="matero-form-horizontal" style="padding-top: 20px;">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="50" fxFlex.lt-sm="100">
          <mat-form-field>
            <mat-label>Nama</mat-label>
            <input matInput formControlName="userName" required>
            <mat-error *ngIf="formUser.get('userName').invalid">
              Silahkan input nama
            </mat-error>
          </mat-form-field>
        </div>        
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="50" fxFlex.lt-sm="100">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="userPassword" required>
            <mat-error *ngIf="formUser.get('userPassword').invalid">
              Silahkan input password
            </mat-error>
          </mat-form-field>
        </div>        
        <div fxFlex="50" fxFlex.lt-sm="100">
          <mat-form-field>
            <mat-label>Ketik Ulang Password</mat-label>
            <input type="password" matInput [formControl]="retypePassword" required>
            <!-- <mat-error *ngIf="retypePassword.invalid">
              Silahkan input password
            </mat-error> -->
          </mat-form-field>
        </div>        
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="40" fxFlex.lt-sm="100">
          <mat-form-field>
            <mat-label>Role</mat-label>      
            <ng-container formGroupName="role">
              <mat-select formControlName="roleId" required>
                <mat-option value="">-- None --</mat-option>
                <mat-option *ngFor="let r of roles" [value]="r.roleId">{{r.roleName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formUser.get('role').get('roleId').invalid">
                Silahkan pilih role
              </mat-error>
            </ng-container>
          </mat-form-field>          
        </div>
      </div>            
    </form>      
  </mat-card-content>
  <!-- {{formUser.value|json}} 
  {{retypePassword.value|json}}  -->
</mat-card>